/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 2;
}
.container {
  min-width: 500px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1000px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
header .logo {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
@media (min-width: 1000px) {
  header .logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    margin-top: 20px;
  }
}
header .logo h1 {
  margin-left: 2rem;
  font-size: 4rem;
  color: #4c4c4c;
}
header .logo img {
  width: 15%;
}
header .donate {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1000px) {
  header .donate {
    margin-right: 100px;
    margin-left: 20px;
  }
}
header .donate #login {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;
  padding: 10px;
}
header .donate #login a {
  text-decoration: none;
  color: #4c4c4c;
  font-size: 2.5rem;
  cursor: pointer;
}
header .donate .donate-button {
  background-color: #f9a03f;
  color: #fefff2;
  cursor: pointer;
  font-size: 2.5rem;
  border: none;
  border-radius: 20px;
  padding: 0 15px;
  margin: 15px 0 0 10px;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
nav a {
  text-decoration: none;
  color: #4c4c4c;
  font-size: 2rem;
  border-bottom: 1px solid #4c4c4c;
}
nav a:hover {
  color: #180aaf;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4c4c4c;
  padding: 20px 0 10px 0;
  margin-top: 100px;
}
footer nav a {
  color: #fefff2;
  font-size: 2rem;
  border-bottom: 1px solid #fefff2;
}
footer nav a:hover {
  color: #c2095a;
}
footer p {
  justify-content: center;
  color: #fefff2;
  font-size: 1.25rem;
  margin-top: 40px;
}
.main-image {
  width: 100%;
  border-top: 40px solid #4c4c4c;
  margin-top: 10px;
}
.line1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #c2095a;
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
}
@media (min-width: 800px) {
  .line1 {
    margin-top: 75px;
  }
}
@media (min-width: 1000px) {
  .line1 {
    margin-top: 100px;
  }
}
.main-content {
  width: 100%;
  background-color: #4c4c4c;
  margin-top: 50px;
  padding-bottom: 60px;
}
@media (min-width: 800px) {
  .main-content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 75px;
  }
}
@media (min-width: 1000px) {
  .main-content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
}
.main-content .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 800px) {
  .main-content .content {
    width: 35%;
  }
}
@media (min-width: 1000px) {
  .main-content .content {
    width: 30%;
  }
}
.main-content .content button {
  width: 25%;
  justify-content: center;
  background-color: #4c4c4c;
  border: none;
  cursor: pointer;
  margin-top: 60px;
}
.main-content .content button img {
  width: 40%;
  border-radius: 100%;
}
.main-content .content h3 {
  color: #fefff2;
  justify-content: center;
  font-size: 3rem;
  margin-top: 20px;
  border-bottom: 1px dashed #fefff2;
}
.main-content .content .dropdown-content {
  display: none;
  color: #fefff2;
  padding: 10px;
}
.main-content .content .dropdown-content.content-open {
  height: 300px;
  display: block;
}
@media (min-width: 800px) {
  .main-content .content .dropdown-content.content-open {
    height: 450px;
  }
}
.main-content .content .dropdown-content .zero {
  color: #f9a03f;
}
.main-content .content .dropdown-content .important {
  color: #180aaf;
}
.main-content .content .dropdown-content .help {
  color: #c2095a;
}
.line2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #180aaf;
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
}
@media (min-width: 800px) {
  .line2 {
    margin-top: 75px;
  }
}
@media (min-width: 1000px) {
  .line2 {
    margin-top: 100px;
  }
}
.section-content {
  width: 100%;
}
@media (min-width: 800px) {
  .section-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (min-width: 1000px) {
  .section-content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}
.section-content .food1 {
  width: 100%;
}
@media (min-width: 800px) {
  .section-content .food1 {
    width: 30%;
  }
}
@media (min-width: 1000px) {
  .section-content .food1 {
    width: 30%;
  }
}
.section-content .food1 img {
  width: 95%;
  margin: 50px 0 0 10px;
  border-radius: 20px;
}
@media (min-width: 800px) {
  .section-content .food1 img {
    width: 100%;
    height: 20rem;
    margin: 75px 0 0 0;
  }
}
@media (min-width: 1000px) {
  .section-content .food1 img {
    width: 100%;
    height: 25.3rem;
    margin: 100px 0 0 0;
  }
}
.section-content .food1 p {
  color: #4c4c4c;
  font-size: 1.5rem;
  margin: 20px 10px 60px 10px;
  width: 95%;
}
.section-content .food2 {
  display: none;
}
@media (min-width: 800px) {
  .section-content .food2 {
    display: block;
    width: 30%;
  }
}
@media (min-width: 1000px) {
  .section-content .food2 {
    display: block;
    width: 30%;
  }
}
@media (min-width: 800px) {
  .section-content .food2 img {
    width: 100%;
    height: 55%;
    height: 20rem;
    margin-top: 75px;
    border-radius: 20px;
  }
}
@media (min-width: 1000px) {
  .section-content .food2 img {
    width: 100%;
    height: 55%;
    height: 25.3rem;
    margin-top: 100px;
    border-radius: 20px;
  }
}
.section-content .food2 p {
  color: #4c4c4c;
  font-size: 1.5rem;
  margin: 20px 10px 60px 10px;
}
.section-content .food3 {
  display: none;
}
@media (min-width: 800px) {
  .section-content .food3 {
    display: block;
    width: 30%;
  }
}
@media (min-width: 1000px) {
  .section-content .food3 {
    display: block;
    width: 30%;
  }
}
@media (min-width: 800px) {
  .section-content .food3 img {
    width: 100%;
    height: 55%;
    height: 20rem;
    margin-top: 75px;
    border-radius: 20px;
  }
}
@media (min-width: 1000px) {
  .section-content .food3 img {
    width: 100%;
    height: 55%;
    height: 25.3rem;
    margin-top: 100px;
    border-radius: 20px;
  }
}
.section-content .food3 p {
  color: #4c4c4c;
  font-size: 1.5rem;
  margin: 20px 10px 60px 10px;
}
h2 {
  font-size: 4rem;
  text-align: center;
  color: #fefff2;
  background-color: #4c4c4c;
  margin: 10px 0;
}
.images {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 1000px) {
  .images .top-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media (min-width: 1000px) {
  .images .middle-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media (min-width: 1000px) {
  .images .bottom-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.images img {
  border-radius: 20px;
  margin-top: 40px;
}
.images a {
  color: #4c4c4c;
  text-decoration: none;
  font-size: 2.5rem;
  text-align: right;
}
.images a:hover {
  color: #f9a03f;
}
.images p {
  color: #4c4c4c;
  font-size: 1.5rem;
  text-align: start;
  margin-top: 20px;
}
.articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.articles .article {
  margin-top: 80px;
}
.articles .article .para {
  display: none;
}
.articles .article .open {
  display: block;
  height: 300px;
}
.articles .article .button {
  margin-top: 10px;
  border: none;
  background-color: #f9a03f;
  border-radius: 10px;
  color: #fefff2;
}
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #4c4c4c;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #4c4c4c;
  color: #fefff2;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #f9a03f;
}
form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 20px;
  margin-top: 100px;
  width: 90%;
  margin-left: 5%;
}
@media (min-width: 800px) {
  form {
    width: 70%;
    margin-left: 15%;
  }
}
@media (min-width: 1000px) {
  form {
    width: 50%;
    margin-left: 25%;
  }
}
label {
  font-size: 1.5rem;
}
