.main-image{
    width: 100%;   
}

.main-content{
    width: 100%;
    background-color: @grey;
    div{
        display:flex;
        flex-direction:column;
        justify-content:center;
        button{
            justify-content: center;
            background-color: @grey;
            border:none;
            img{
                width: 10%;
                border-radius: 100%;
            }
        }
        h3,p{
            color:@white;
        }
    }
}