.main-image{
    width: 100%;   
}

.main-content{
    width: 100%;
    background-color: @grey;
    @media @desktop {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    div{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        @media @desktop {
            width: 30%;
        }
        button{
            justify-content: center;
            background-color: @grey;
            border:none;
            cursor: pointer;
            img{
                width: 10%;
                border-radius: 100%;
            }
        }
        h3 {
            color: @white;
            justify-content: center;
        }
        p{
            color:@white;
        }
    }
}