.section-content{
    width: 100%;
    .food1{
        width:100%;
        img{
            width: 100%;
        }
        p{
            color:@grey;
        }
    }
    .food2{
        display: none;
    }
}